{% load staticfiles %}

<html>
    <head>
        <title>Title</title>
    </head>
    <body>
        <div>
            <h1><a href="{% url 'home' %}">Quiz builder</a></h1>
            {% if user.is_authenticated %}
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'logout' %}">logout</a>
            {% endif %}
        </div>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>