{% extends 'quiz/base.html' %}

{% block content %}
    <p>Quizzes</p>
    {% for quiz in quizzes %}
        <p>
            <a href="{% url 'quiz_detail' pk=quiz.pk %}">{{ quiz }}</a>
        </p>
    {% endfor %}
    <p>-----------------------------------------------------------</p>
    <p>Recently taken quizzes</p>
    {% for session in sessions %}
        <p>
            <a href="{% url 'quiz_session' pk=session.pk %}">{{ session.quiz }} {{ session.session_date }} Score: {{ session.get_score }}/{{ session.quiz.get_total }}</a>
        </p>
    {% empty %}
        <p>Quiz not yet taken</p>
    {% endfor %}
{% endblock %}