{% extends 'quiz/base.html' %}

{% block content %}
    <form method="post" action="{% url 'quiz_submit' pk=quiz.pk %}">
        {% csrf_token %}
        {% for question in questions %}
            {{ question.question }}
            {% for choice in question.choices.all %}
                <p><input type="radio" name="{{ question.pk }}" value="{{ choice.pk }}" >{{ choice.label }}</p>
            {% endfor %}
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
{% endblock %}
