{% extends 'quiz/base.html' %}

{% block content %}
    {% for answer in session.answers.all %}
        <p>
            {{ answer.choice.question.question }}: {{ answer.choice.label }} ---
            {% if answer.is_correct %}
            O
            {% else %}
            X
            {% endif %}
        </p>
    {% endfor %}
    <p>Score: {{ session.get_score }}</p>
{% endblock %} 