{% extends 'quiz/base.html' %}

{% block content %}
    <p>Takes:</p>
    {% for session in sessions %}
        <p>
            <a href="{% url 'quiz_session' pk=session.pk %}">{{ session.session_date }}</a>
        </p>
    {% empty %}
        <p>Quiz not yet taken</p>
    {% endfor %}
    {% if quiz.is_expired %}
        <p>Already expired</p>
    {% else %}
        <p><a href="{% url 'quiz_answer' pk=quiz.pk %}">Take quiz</a></p>
    {% endif %}
{% endblock %}